*{
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
}

.container-main{
    background-color: #D9D9D9;
}

h2{
    color: #831316;
}

.banner-container{
    padding: 100px;
    background-color: #831316;
    color: white;
    display: flex;
    flex-direction: column;
}

.section-cards{
    display: flex;
    flex-direction: row;
}

.cardx{
    padding: 40px;
    background-color: #AC191E;
    display: flex;
    flex-direction: row;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

.box-icon{
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

.icon-card img{
    max-width: 40px;
    max-height: 40px;
}

.title-card{
    font-size: 28px;
    font-weight: 600;
}

.info-card{
    font-size: 12px;
    font-weight: 300;
    color: #D9D9D9;
}

.section-user{
    display: flex;
    align-items: center;
    gap: 28px;
}

.section-user .pic-user img{
    max-width: 80px;
    max-height: 80px;
    border-radius: 50%;
    object-fit: cover;
}

.title-user{
    display: flex;
    flex-direction: column;
}

.name-user{
    margin: 0;
    padding: 0;
    font-size: 32px;
    font-weight: 600;
}

.cargo-user{
    margin-top: -50px;
    margin: 0;
    color: #D9D9D9;
    font-size: 16px;
}

.main-container{
    background-color: #D9D9D9;
}

.navbar{
    background-color: #831316;
    border-bottom: 3px solid white;
}
/* 
.nav-item .active{
    border-bottom: 2px solid white;
} */

.btnx{
    padding: 5px 14px;
    background-color: #831316;
    color: #fff;
    font-weight: bold;
    border-style: none;
    border-radius: 30px;
    cursor: pointer;
}

/* Análise crítica */

thead{
    background-color: #831316;
}

.input-line{

    padding: 5px 10px;
    border-radius: 30px;
    text-align: center;
    max-width: 150px;
    color: #831316;
}

.input-line, input{
    border: none;
}

.select-certificate{
    padding: 5px 10px;
    background-color: #fff;
    max-width: 100%;
}

.analys-title{
    color: #831316;
    font-weight: bold;
}


.btn, .btn-primary, #interpolate, #extract, #analys{
    font-weight: bold;
    border-radius: 30px;
    border: none;
}

.btn, .btn-primary, #interpolate, #extract{
    background-color: #831316;
    
}

.btn, .btn-primary, #analys{
    background-color: #fff;
    color: #831316;
}

/* Manual */

#nome_faixa, #numRows{
    padding: 5px 10px;
    background-color: #fff;
    color: #831316;
    font-weight: bold;
    border: none;
    border-radius: 30px;
}

/* Automática */

.fornecedor-select{
    padding: 5px 10px;
    background-color: #831316;
    color: #fff;
    border-style: none;
    border-radius: 30px;
}

.definicao-criterio{
    display: flex;
    border: 1px solid #D9D9D9;
    border-radius: 30px;
    overflow: hidden;
    width: fit-content;
    
}

.definicao-criterio input,
.definicao-criterio select{
    color: #831316;
    border: none;
    padding: 10px;
    outline: none;
    font-size: 14px;
    font-weight: bold;
}

.definicao-criterio input{
    border-right: 1px solid #ccc;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.definicao-criterio select{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #831316;
    color: #fff;
    cursor: pointer; 
}


.info-calibration{
    display: flex;
    flex-direction: row;
}


#analise{
    background-color: #fff;
    color: #831316;
}

/* Modal */

#close-modal{
    padding: 0.6rem 1.2rem;
    background-color: #888;
    color: #fff;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
    opacity: 0.9;
    font-size: 1rem;
    transition: 0.4s;
}

#close-modal:hover{
    opacity: 1;
}