<div class="settings-container">
    <h2>Análise Crítica Automática</h2>
    <div class="select-certificate">
        <label for="">Selecionar certificado</label>
        <input type="file" placeholder="Selecione">
    </div>

    <h2>Informações da Análise</h2>
    <div class="info-calibration">
        <label for="select">Fornecedor</label>
        <select>
            <option value="" disabled selected>Selecione</option>
            <option value="manual">Manual</option>
            <option value="automatica">Automática</option>
        </select>
    </div>
</div>