<div class="settings-container">
    <h2 class="analys-title">Análise Crítica Manual</h2>
    <div class="select-certificate">
        <label for="">Selecionar certificado</label>
        <input type="file" placeholder="Selecione">
    </div>

    <h2 class="analys-title">Informações da faixa</h2>
    <div class="info-calibration">
        <div class="nome-faixa">
            <input type="text" placeholder="Nome da Faixa">
        </div>
        <div class="qntd-pontos">
            <input type="text" placeholder="Quantidade de pontos">
        </div>
        <div class="definicao-criterio">
            <input type="text" placeholder="Critério">
            <select>
                <option value="" disabled selected>%?</option>
                <option value="1">Sim</option>
                <option value="2">Não</option>
            </select>
        </div>
    </div>
</div>