<header>
    <div class="container-header">
        <div class="logo">
            <img src="" alt="">
        </div>
        <div class="btn-home">
            <p>Home</p>
        </div>
        <div class="btn-normas">
            <p>Normas</p>
        </div>
        <div class="btn-analisecritica">
            <p>Análise crítica</p>
        </div>
        <div class="btn-fornecedores">
            <p>Fornecedores</p>
        </div>
        <div class="icons-mode">
            <div class="icon-settings"></div>
            <div class="icon-visualmode"></div>
        </div>
    </div>
</header>