{%extends 'base.html'%}

{%block title%}Normas{%endblock%}

{%block content%}
<div class="container" id="content-fornecedores">
    <h1 class="text-center">Lista de Fornecedores</h1>
    <div id="form-fornecedor" c-container="{{url_for('fornecedor.form_fornecedor')}}"></div>
    <div c-container="{{url_for('fornecedor.listar_fornecedores')}}"></div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</div>

<div class="container" id="content-normas">
    <h1 class="text-center">Gestão de Normas</h1>
    <button class="btn btn-primary">Inserir norma</button>
    <div id="form-norma" c-container="{{url_for('norma.form_norma')}}"></div>
    <div c-container="{{url_for('norma.lista_normas')}}"></div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</div>

<div class="container" id="content-analise-critica">
    <div id="form-analise-critica" c-container="{{url_for('analise_critica.index')}}"></div>
</div>

<script src="{{url_for('static', filename='js/format_date.js')}}"></script>
<script src="{{url_for('static', filename='js/cru.js')}}"></script>
<script src="{{url_for('static', filename='js/renderize.js')}}"></script>
{%endblock%}