<div id="fade"></div>
<div id="modal">
    <div class="modal-header">
        <h2>Este é o Modal</h2>
        <button id="close-modal">Fechar</button>
    </div>
    <div class="modal-body">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat maxime ullam amet illo quia.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat maxime ullam amet illo quia.</p>
    </div>
</div>

<script src="{{url_for('static', filename='js/modal.js')}}" defer></script>